[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/fuzzy-finder"]
	path = bundle/fuzzy-finder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/camelcasemotion"]
	path = bundle/camelcasemotion
	url = git://github.com/vim-scripts/camelcasemotion.git
[submodule "bundle/IndexedSearch"]
	path = bundle/IndexedSearch
	url = git://github.com/vim-scripts/IndexedSearch.git
[submodule "bundle/loremipsum"]
	path = bundle/loremipsum
	url = git://github.com/vim-scripts/loremipsum.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-pastie"]
	path = bundle/vim-pastie
	url = git://github.com/tpope/vim-pastie.git
[submodule "bundle/vim-vividchalk"]
	path = bundle/colors-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = git://github.com/godlygeek/csapprox.git
[submodule "bundle/vim-l9"]
	path = bundle/vim-l9
	url = git://github.com/numbers1311407/vim-l9.git
[submodule "tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/colors-jellybeans"]
	path = bundle/colors-jellybeans
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/colors-twilight256"]
	path = bundle/colors-twilight256
	url = git://github.com/vim-scripts/twilight256.vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = http://github.com/vim-scripts/ack.vim.git
[submodule "bundle/colors-maroloccio"]
	path = bundle/colors-maroloccio
	url = http://github.com/vim-scripts/maroloccio.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat
[submodule "bundle/jshint"]
	path = bundle/jshint
	url = https://github.com/walm/jshint.vim
[submodule "bundle/jade.vim"]
	path = bundle/jade.vim
	url = git://github.com/vim-scripts/jade.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-polyglot"]
	path = bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "bundle/vim-jsbeautify"]
	path = bundle/vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-esformatter"]
	path = bundle/vim-esformatter
	url = https://github.com/millermedeiros/vim-esformatter
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = https://github.com/mattn/gist-vim
[submodule "bundle/webapi-vim"]
	path = bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
