[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/fuzzy-finder"]
	path = bundle/fuzzy-finder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/camelcasemotion"]
	path = bundle/camelcasemotion
	url = git://github.com/vim-scripts/camelcasemotion.git
[submodule "bundle/IndexedSearch"]
	path = bundle/IndexedSearch
	url = git://github.com/vim-scripts/IndexedSearch.git
[submodule "bundle/loremipsum"]
	path = bundle/loremipsum
	url = git://github.com/vim-scripts/loremipsum.git
[submodule "bundle/vim-haml"]
	path = bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-pastie"]
	path = bundle/vim-pastie
	url = git://github.com/tpope/vim-pastie.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-vividchalk"]
	path = bundle/colors-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = git://github.com/godlygeek/csapprox.git
[submodule "bundle/vim-l9"]
	path = bundle/vim-l9
	url = git://github.com/numbers1311407/vim-l9.git
[submodule "tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/colors-jellybeans"]
	path = bundle/colors-jellybeans
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/colors-twilight256"]
	path = bundle/colors-twilight256
	url = git://github.com/vim-scripts/twilight256.vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = http://github.com/vim-scripts/ack.vim.git
[submodule "bundle/colors-maroloccio"]
	path = bundle/colors-maroloccio
	url = http://github.com/vim-scripts/maroloccio.git
[submodule "bundle/syntax-vim-coffee-script"]
	path = bundle/syntax-vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/syntax-vim-jst"]
	path = bundle/syntax-vim-jst
	url = git://github.com/briancollins/vim-jst.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat
[submodule "bundle/vim-stylus"]
	path = bundle/vim-stylus
	url = git://github.com/wavded/vim-stylus
[submodule "bundle/jshint"]
	path = bundle/jshint
	url = https://github.com/walm/jshint.vim
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/jade.vim"]
	path = bundle/jade.vim
	url = git://github.com/vim-scripts/jade.vim.git
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = git://github.com/slim-template/vim-slim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
